{% extends 'events/base.html' %}


{% block content %}
          {% if user.is_authenticated %}

    <center>
        <h1>Add Venue to the Database</h1>
        <br><br>
<!--        <br>ID: {{user.id}}-->
        {% if submitted %}

            <h1>Your Venue was submitted Successfully!!</h1>

        {% else %}

                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
            {% endif %}
    <center>


{% else %}

    <h1>Sorry you must be logged in to view this page! 🔥</h1>
    <a class="nav-link" href="{% url 'login'%}">Login</a>
            {% endif %}

{% endblock %}
