{% extends 'events/base.html' %}


{% block content %}
    <h1>Events</h1><br>


    {% for event in event_list %}
<div class="card">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ event.venue }}</h5>
    <p class="card-text">

            <strong>Date: </strong> {{ event.event_date }}<br>
            <strong>Venue: </strong> {{ event.venue }} <br>
            <strong>Venue Website: </strong> {{ event.venue.web }}<br>
            <strong>Manager: </strong> {{ event.manager }}<br>
            <strong>Description: </strong> {{ event.description }}<br>
            <strong>Attendees: </strong><br>
                    {% for user in event.attendees.all %}
                         {{ user }}<br>
                    {% endfor %}
                <br>
    </p>
  </div>
</div><br>

    {% endfor %}

{% endblock %}
