{% extends 'events/base.html' %}


{% block content %}
    <h1>Events</h1><br>


    {% for event in event_list %}
 <table class="table table-striped table-bordered table-dark table-hover">
    <thead>
        <tr>
            <td style="font-weight: bold; color: #fff">{{event}} </td>
        </tr>
    </thead>
     <tbody>
     <tr>
         <td><h5 class="card-title">Venue: {{ event.venue }}</h5></td>
     </tr>
                <tr><td><strong>Date: </strong> {{ event.event_date }}<br></td></tr>
                <tr><td><strong>Venue: </strong> {{ event.venue }} <br></td></tr>
                <tr><td><strong>Venue Website: </strong> {{ event.venue.web }}<br></td></tr>
                <tr><td><strong>Manager: </strong> {{ event.manager }}<br></td></tr>
                <tr><td><strong>Description: </strong> {{ event.description }}<br></td></tr>
            <tr><td>
                <strong>Attendees: </strong><br>
            </td></tr>
                        {% for user in event.attendees.all %}
                            <tr>
                                <td>
                                     {{ user }}<br>
                                </td>
                            </tr>
                        {% endfor %}


     </tbody>
 </table>

    {% endfor %}

{% endblock %}
