{% extends 'events/base.html' %}


{% block content %}

<center>
    {% if searched %}

        <h1>You searched for:</h1>
    <br>
    <table class="table table-striped table-bordered table-dark table-hover">
        <thead>
        <tr>
            <td style="font-weight: bold; color: #fff">Your search was: </td>
        </tr>
        </thead>
        {% for venue in venues %}
                <tr>
                    <td><a href="{% url 'show-venue' venue.id %}" style="text-decoration: none; color: white">{{ venue }}</a><br></td>
                </tr>
        {% endfor %}
    </table>
    {% else %}

        <h1>Hey! You forgot to search for the Venue!</h1>

    {% endif %}


    <center>

{% endblock %}
