{% extends 'events/base.html' %}


{% block content %}

<div class="container">
    <h1>Venue: </h1><br>

<div class="card text-white bg-dark mb-3">
  <div class="card-header" style="color: #fff; font-weight: bold">
    Venue Information
  </div>
  <div class="card-body bg-light text-dark">
    <h5 class="card-title">Venue: {{ venue }}</h5>
    <p class="card-text container">

            <strong>Date: </strong> {{ venue.address }}<br>
            <strong>Venue: </strong> {{ venue.zip_code }} <br>
            <strong>Venue Website: </strong> {{ venue.phone }}<br>
            <strong>Manager: </strong> {{ venue.email_address }}<br>
            <strong>Description: </strong> {{ venue.web }}<br>
            <strong>Owner: </strong> {{ venue_owner }}<br>
            <strong><a href="{{ venue.web }}">{{ venue.web }}</a></strong><br>

    </p>
  </div>

    </div>

{% endblock %}
