{% extends 'events/base.html' %}


{% block content %}



<center>
    <h1>Venues: </h1><br><br>
<table class="table table-striped table-bordered table-dark table-hover">
        <thead>
            <tr>
                <td style="color: white; font-weight: bold">Venue name:</td>
                    {% if user.is_authenticated %}

                <td style="color: white; font-weight: bold; margin-right: 50px;">Update?</td>
                <td style="color: white; font-weight: bold">Delete?</td>

                    {% endif %}

            </tr>
        </thead>
    {% for venue in venues %}

        <tr>
            <td>
                <a href="{% url 'show-venue' venue.id %}" style="text-decoration: none; color: white">{{ venue }} ~ owner: {{ venue }}</a><br>
            </td>
               {% if user.is_authenticated %}

            <td align="center">
                <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
            </td>

             <td align="center">
                <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>

            {% endif %}
        </tr>
    {% endfor %}

</table>
    <!--    <br>{{ venues.has_previous }}-->
<!--    <br>{{ venues.has_next }}-->
<!--    <br>{{ venues.number }}-->
<!--    <br>{{ venues.paginator.num_pages }}-->



    <center>

<!--        paginator-->
<!--        bootstrap-->

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
        {% if venues.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}">Previous</a></li>
        {% endif %}

                {% for i in nums %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                {% endfor %}
<!--        <li class="page-item"><a href="#" class="page-link"> Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li>-->

        {% if venues.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{venues.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}">Last &raquo</a></li>
        {% endif%}
            </ul>
        </nav>

{% endblock %}
                        </center>

