{% extends 'events/base.html' %}


{% block content %}

<center>
    <h1>Venues: </h1><br><br>
<table class="table table-striped table-bordered table-dark table-hover">
        <thead>
            <tr>
                <td style="color: white; font-weight: bold">Venue name:</td>
                <td style="color: white; font-weight: bold">Update?</td>
            </tr>
        </thead>
    {% for venue in venue_list %}

        <tr>
            <td>
                <a href="{% url 'show-venue' venue.id %}" style="text-decoration: none; color: white">{{ venue }}</a><br>
            </td>
            <td align="right">
                <a href="{% url 'update-venue' venue.id %}">Update</a>
            </td>
        </tr>
    {% endfor %}

</table>

    <center>

{% endblock %}
