{% extends 'events/base.html' %}


{% block content %}

    <h1>Login</h1><br><br>

                <form>{% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>

                  <button type="submit" class="btn btn-dark">Submit</button>
</form>
    <br><br>

{% endblock %}
